
body {
    font-family: 'DM Sans', sans-serif;
    background-color: #D8E4FF; /* coolors.co !!!!!*/
  }


/* navigation bar!! */
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #35605A;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: #D8E4FF;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #35605A;
  }